body {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}

.calculator {
  box-shadow: 0px -1px 10px -5px rgba(0, 0, 0, 1);
  width: 30rem;
  padding-top: 1em;
  margin: 0 auto;
}

.input {
  border: 1px solid rgb(187, 187, 187);
  padding: 1.5rem 1rem;
  margin: 1rem 1.5rem;
  text-align: right;
  overflow-x: auto;
  transition: all 0.2s ease-in-out;
}
.input:hover {
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators {
  display: flex;
  justify-content: space-evenly;
}

.operators div {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.leftPanel {
  display: inline-block;
}

.numbers div {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease-in-out, background-color 0.2s,
    box-shadow 0.2s;
}

.numbers div:hover {
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.numbers div:active {
  font-weight: bold;
}

div.equal {
  display: inline-block;
  border: 1px solid #3079ed;
  border-radius: 1px;
  width: 17%;
  text-align: center;
  padding: 127px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  background-color: #4d90fe;
  transition: all 0.2s ease-in-out;
}
